.ui-autocomplete-loading {
    background: white url("../../../img/quote/load.gif") right center no-repeat;
}
.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}
.custom-combobox{
    width: 100%;
}
.custom-combobox-input{
    width: 90%;
}
.custom-combobox-toggle{
    width: 10%;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.quote-box{
    padding-top: 20px;
    padding-bottom: 20px;
}
.quote-header{
    display: inherit !important;
    padding: 1px !important;    
}
.clear-margin{
    margin-top: 15px !important;
}
.quote-money{
    text-align: right;
}
.quote-details{
    border-bottom: 1px solid #dfe6e8;
}
.quote-subtittle,.quote-tittle{
    text-align: center;
}
.quote-tittle-top{
    padding: 30px;
    text-align: center;
}
.quote-form-group{
    padding-left: 5px;
    padding-right:  5px;
}
.box-product-size{
    display: table;
    width: 100%;
    margin-top: 0px;    
}
.box-size{
    margin-top: 10px;
}
.box-product-size:first-child{
    margin-top: 15px;
}
.box-product-size input.form-control{
    margin-bottom: 0 !important;
}
.product-size{
    padding-left: 0 !important;
    padding-right:  0 !important;
}
.product-size-r{
    text-align: center;
}
.green{
    color: #31c131;
}
.red{
    color: red;
}
.quote-bottom{
    margin-top: 30px;
}
#product-size-box-up{
    border-bottom: 1px solid #dfe6e8;
    clear: both;
}
#quote-container .card .card-header {    
    text-align: center;
}
.card .card-header {
    padding: 15px;    
}
.label-mini{
    font-weight: 200;
    font-size: 12px;
}
.quote-main-tittle{    
    color: #095077;
}
.background-quote{
    background: url(../../../img/quote/quote-background.png);
    background-position: right 0px top 0px;
    background-repeat: no-repeat;
    padding-right: 35px;
    padding-top: 35px;
}
input.form-control, textarea.form-control{
    padding: 5px 5px;
}
@media (max-width:1170px){
    .box-product-size:first-child{
        display: none;
    }
    .box-product-size{
        border: 1px solid #dfe6e8;
        margin-top: 15px; 
    }
}
label.error{
    font-size: 10px;
    color: red;    
}
input.error{
    border-color: red;
}
#quote-container{
    flex-wrap: wrap;
    display: inline-flex;
}
.product-size{
    flex-wrap: wrap;
    display: inline-flex;
}
#modal-choose-quote .modal-dialog{
    min-height: 90%;
    width: 90%;
}
#modal-choose-quote .modal-content{
    height: 100%;
}

.modal-header .close {
    top: 10px;
    position: absolute;
    right: 10px;
}
.comments-container{
    margin-top: 30px;
}
.retrieve-box .row > [class*="col-"],.delivery-box .row > [class*="col-"]{
    border-top: 1px solid #ece4d0;
}
.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
    top: -10px;
}

.quote-logo{
    width: 240px;
    padding-right: 20px;    
    padding-top: 5px;
}
.quote-header-container{
    padding-bottom: 30px;
}
.quote-slug{
    padding-left: 20px;
    border-left: 1px solid #0079bf;
}
.quote-slug-primary{
    color: #2785c7;
}
.quote-slug-secondary{
    color: #c8d1d3;
}
.input-group{
    margin-bottom: 0px;
}

.stepwizard-step:not(.active) a,.stepwizard-step:not(.active) p{    
    color: #ccc;
}

.stepwizard-step.active a{
    border-color: #095077;
    border-bottom-color: #043D5D;
    background-color: #095077;
    box-shadow: 0 2px 3px rgba(9, 80, 119, 0.3);
    color: #fff;
}
.stepwizard-step.active p{    
    color: #444;
}
.quote-details table{
    margin: auto;
}
.quote-logo img{
    width: 100%;
}
.client-address{
    margin-top: 30px;
}
.label-title{
    color: #095077;
}
.select-address,.select-contact{
    border-bottom: 2px solid #095077;
    padding-bottom: 10px;    
}
.btn-orange{
    margin-top: 25px;
}
.row-box{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f9f9f9;
    border-radius: 3px;
    box-shadow: 0 1px 2px #c8d1d3;
}
.row-box input{
    background: #fff;
}
#gmapsstreetview{
    margin-left: 5px;
    margin-right: 5px;
}

.fa-truck{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);

}
.fa-truck-blue{
    color: #043461;
}

.fa-angle-double-right{
    color: #043461;
    font-weight: bold;
}
.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}
.quote-datails-inside{
    display: -webkit-box;
}
.title-container{
    text-align: center;
    padding: 25px;
}
.quote-details-show-origin,.quote-details-show-destination{
    margin-top: 25px;
}
.order-left-header{
    background: #bfbfbf;
    padding: 30px;    
    height: 100%;
}
.bg-pending{
    background: #febc1d;
}
.bg-canceled{
    background: #bd1e1e;
}
.bg-closed,.bg-open{
    background: #31c131;
}
.order-left-header h5{
    margin: 0;    
}
.row-order-main-header{    
    margin: 0px;
}
.order-right-header{
    text-align: center;  
    height: 100%;
    color: white;
}
.outer{
    margin: auto;
}

.order-status-quote{
    color: #bbb818 !important;
}
.order-status-waiting-client-invoice-tax{
    color: #0079ff !important;
}
.order-status-analysis{
    color: #ffa700 !important;
}
.order-status-waiting-payment{
    color: #d82c2c !important;
}
.order-status-waiting-retrieve{
    color: #2b58ad !important;
}
.order-status-on-the-way{
    color: #5ed634 !important;
}
.order-status-delivered{
    color: #3c9e19 !important; 
}
.order-status-canceled{
    color: #9e1919 !important;
}
.product-resume{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.invoice-header{
    border-bottom: 1px solid #ddd;
}
.row-order-main-header button{
    margin-right: 20px;
}
#quote-header-container{
    width: 100%;
    margin-top: 25px;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-image: url(/assets/img/quote/truck-icon.png);
    background-position: top left;
    margin-left: 20px;
}
#quote-header-container .fa-truck{

}
#quote-title{
	color: #095077;
	text-transform: uppercase;
	font-weight: bold;	
}
#quote-header-container{
    border-bottom: 1px solid #2885c7;    
}

@media screen and (min-width: 768px) {
	#quote-title{        
		padding-right: 200px;
		margin-left: 85px;
		margin-top: -25px;    
		
	}
}

@media screen and (max-width: 767px) {
	#quote-title{        		
		margin-left: 85px;
		margin-top: -40px;
	}
}

#quote-container{
    background: #fff;
}

.card{
    box-shadow: none !important;
    border: 0.5px solid #c8d1d3;
    padding-bottom: 15px;
}
.quote-money-value {    
    font-size: 26px;
    color: #1a245b;
    font-weight: bold;    
    letter-spacing: -3px;
}
.quote-money-label{
    font-size: 20px;
    color: #000;    
    margin-right: 10px;
    padding-top: 5px;
}
.quote-money {    
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;    
    line-height: 1;
}
.quote-card-price{
    font-size: 16px;
    color: #1a245b;
}
.quote-card-label{
    font-size: 16px;        
    margin-right: 10px;
    margin-bottom: 15px;
}
.retrieve-deadline{    
    color: #fff;
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 15 !important;
    font-size: 10px;
    width: 50px;
    line-height: 1.3;
    text-align: right;
}
.retrieve-deadline-border{
    border-top: 80px solid #095077;
    border-left: 70px solid transparent;
    position: absolute;
    right: 16px;
    top: 21px;
    z-index: 10 !important;
}
.fa-star.checked {
    color: orange;
}
.card-body .quote-details.in {
    flex-wrap: wrap;
    display: inline-flex;
}
.tax-details {
    border-bottom: 1px solid #dfe6e8;
}
.btn-quote-details{
    cursor: pointer;
}

.order-left-header{
    flex-wrap: wrap;
}
