.ui-autocomplete-loading {
    background: white url("../../../img/quote/load.gif") right center no-repeat;
}
.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}
.custom-combobox{
    width: 100%;
}
.custom-combobox-input{
    width: 90%;
}
.custom-combobox-toggle{
    width: 10%;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.quote-box{
    padding-top: 20px;
    padding-bottom: 20px;
}
.quote-header{
    display: inherit !important;
    padding: 1px !important;
    padding-bottom: 15px !important;
}
.clear-margin{
    margin-top: 40px;
}
.quote-money{
    text-align: right;
}
.quote-details{
    border-bottom: 1px solid #dfe6e8;
}
.quote-subtittle,.quote-tittle{
    text-align: center;
}
.quote-tittle-top{
    padding: 30px;
    text-align: center;
}
.quote-form-group{
    padding-left: 5px;
    padding-right:  5px;
}
.box-product-size{
    display: table;
    width: 100%;
    margin-top: 0px;    
}
.box-size{
    margin-top: 10px;
}
.box-product-size:first-child{
    margin-top: 15px;
}
.box-product-size input.form-control{
    margin-bottom: 0 !important;
}
.product-size{
    padding-left: 0 !important;
    padding-right:  0 !important;
}
.product-size-r{
    text-align: center;
}
.green{
    color: #31c131;
}
.red{
    color: red;
}
.quote-bottom{
    margin-top: 30px;
}
#product-size-box-up{
    border-bottom: 1px solid #dfe6e8;
    clear: both;
}
.card .card-header {
    padding: 15px;
}
.label-mini{
    font-weight: 200;
    font-size: 12px;
}
.quote-main-tittle{    
    color: #095077;
}
.background-quote{
    background: url(../../../img/quote/quote-background.png);
    background-position: right 0px top 0px;
    background-repeat: no-repeat;
    padding-right: 35px;
    padding-top: 35px;
}
input.form-control, textarea.form-control{
    padding: 5px 5px;
}
@media (max-width:1170px){
    .box-product-size:first-child{
        display: none;
    }
    .box-product-size{
        border: 1px solid #dfe6e8;
        margin-top: 15px; 
    }
}
label.error{
    font-size: 10px;
    color: red;    
}
input.error{
    border-color: red;
}
#quote-container{
    flex-wrap: wrap;
    display: inline-flex;
}
.product-size{
    flex-wrap: wrap;
    display: inline-flex;
}
#modal-choose-quote .modal-dialog{
    min-height: 90%;
    width: 90%;
}
#modal-choose-quote .modal-content{
    height: 100%;
}

.modal-header .close {
    top: 10px;
    position: absolute;
    right: 10px;
}
.comments-container{
    margin-top: 30px;
}
.retrieve-box .row > [class*="col-"],.delivery-box .row > [class*="col-"]{
    border-top: 1px solid #ece4d0;
}



.panel-heading{
    display:none;
}

.card .card-header{
    display: block;
}
.panel.panel-primary .panel-heading{
    background-color: #f3f1f2;
    border-bottom-color: #173c68;
    color: #043D5D;
}
.panel-primary>.panel-heading,.panel.panel-primary{
    border-color: #dfe1e3;
}

.card .card-header{
    border-bottom: none !important;
}
.stepwizard-step p {
    margin-top: 0px;
    color:#666;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
    left: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.quote-complement-origin,.quote-complement-destination {
    display: none;
}

.carrier-disabled .card {
    border-color: red;
}