<div class="modal fade" id="modal-choose-quote" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="quote-header-container">
                    <div class="quote-logo pull-left">
                        <img alt="<?= $this->translate('Application Name') ?>" src="<?= $this->defaultCompany && $this->defaultCompany->getImage() ? $this->defaultCompany->getImage()->getUrl() : $this->default_company_logo ?>">
                    </div>
                    <div class="quote-slug pull-left">
                        <h3 class="quote-slug-primary"><?= $this->translate('Quote primary slug') ?></h3>
                        <h4 class="quote-slug-secondary"><?= $this->translate('Quote secondary slug') ?></h4>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>     
                    <div class="clearfix"></div>
                </div>
                <div class="stepwizard">
                    <div class="stepwizard-row">                        
                        <div class="stepwizard-step col-xs-4 col-sm-4 col-md-4 col-lg-4 <?= !$this->order->getRetrievePeople() ? 'active' : '' ?>">
                            <a id="btn-retrieve-address" data-toggle="tab" href="#retrieve-address"  class="btn btn-default btn-circle btn-lg">1</a>
                            <p><?= ucfirst($this->translate('Retrieve data')) ?></p>
                        </div>
                        <div class="stepwizard-step col-xs-4 col-sm-4 col-md-4 col-lg-4 <?= $this->order->getRetrievePeople() && !$this->order->getDeliveryPeople() ? 'active' : '' ?>">
                            <a id="btn-delivery-address" data-toggle="tab" href="#delivery-address"  class="btn btn-default btn-circle btn-lg">2</a>
                            <p><?= ucfirst($this->translate('Delivery data')) ?></p>
                        </div>                  
                        <div class="stepwizard-step col-xs-4 col-sm-4 col-md-4 col-lg-4 <?= $this->order->getRetrievePeople() && $this->order->getDeliveryPeople() ? 'active' : '' ?>">
                            <a id="btn-quote-details" data-toggle="tab" href="#quote-details" class="btn btn-default btn-circle btn-lg">3</a>
                            <p><?= ucfirst($this->translate('Quote details')) ?></p>
                        </div>                        
                    </div>
                </div>                           
            </div>
            <div class="modal-body">           
                <div class="tab-content">                    
                    <div id="retrieve-address" class="tab-pane fade in <?= !$this->order->getRetrievePeople() ? 'active' : '' ?>">                                                                         
                        <?php
                        $this->source = 'origin';
                        $this->quoteClientContact = $this->quoteClientOriginContact;
                        $this->quoteCompanyContact = $this->quoteCompanyOriginContact;
                        $this->quoteClientAddress = $this->quoteClientOriginAddress;
                        $this->quoteCompanyAddress = $this->quoteCompanyOriginAddress;
                        $this->quoteCompanyPeople = $this->quoteCompanyOriginPeople;
                        $this->quoteClientPeople = $this->quoteClientOriginPeople;
                        ?>
                        <?= $this->render("sales/default/quote-address.phtml"); ?>
                    </div>
                    <div id="delivery-address" class="tab-pane fade in <?= $this->order->getRetrievePeople() && !$this->order->getDeliveryPeople() ? 'active' : '' ?>">           
                        <?php
                        $this->source = 'destination';
                        $this->quoteClientContact = $this->quoteClientDestinationContact;
                        $this->quoteCompanyContact = $this->quoteCompanyDestinationContact;
                        $this->quoteClientAddress = $this->quoteClientDestinationAddress;
                        $this->quoteCompanyAddress = $this->quoteCompanyDestinationAddress;
                        $this->quoteCompanyPeople = $this->quoteCompanyDestinationPeople;
                        $this->quoteClientPeople = $this->quoteClientDestinationPeople;
                        ?>
                        <?= $this->render("sales/default/quote-address.phtml"); ?>
                    </div>               
                    <div id="quote-details" class="tab-pane fade in <?= $this->order->getRetrievePeople() && $this->order->getDeliveryPeople() ? 'active' : '' ?>">                                                                                                
                        <?= $this->render("sales/default/quote-details.phtml"); ?>
                    </div>                    
                </div>
            </div>            
        </div>
    </div>    
</div>