<form data-postmon-form="data-postmon-form" action="/<?= $this->module_name ?>/add-address.json<?= $this->companyModel->getCurrentPeopleCompany() ? '?client_id=' . $this->companyModel->getCurrentPeopleCompany()->getId() : '' ?>" id="<?= $this->source ?>-client-address-form" data-select-address="#address-<?= $this->source ?>" data-svp-id="gmapsstreetviewpano-client-<?= $this->source ?>" data-svm-id="gmapsstreetviewmap-client-<?= $this->source ?>" class="form-horizontal" method="POST">
    <input type="hidden" name="quote" value="<?= $quote->getId() ?>">
    <div class="row-box">
        <div class="row select-contact">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label label-title" for="address-<?= $this->source ?>"><?= $this->translate('Add new client') ?></label>
            </div>
        </div>        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="control-label" for="choose-client"><?= $this->translate('Client type') ?></label>
                <div class="input-group no-border">
                    <label class="radio-inline"><input data-container-show-on-change=".company-<?= $this->source ?>" data-container-hide-on-change=".client-company-<?= $this->source ?>" type="radio" name="choose-client" value="company" <?= !$this->quoteClientPeople || ($this->quoteClientPeople && $this->quoteClientPeople->getPeopleType()) == 'J' ? 'checked' : '' ?>><?= $this->translate('Company people type') ?></label>
                    <label class="radio-inline"><input data-container-hide-on-change=".company-<?= $this->source ?>" data-container-show-on-change=".client-company-<?= $this->source ?>" type="radio" name="choose-client" value="client" <?= $this->quoteClientPeople && $this->quoteClientPeople->getPeopleType() == 'F' ? 'checked' : '' ?>><?= $this->translate('Client people type') ?></label>
                </div>
            </div>
        </div>    
        <div class="company-<?= $this->source ?> row">
            <div class="row no-margin">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 no-margin">
                    <label class="control-label" for="company-document"><?= $this->translate('Company Document') ?></label>
                    <div class="input-group">
                        <?php
                        $doc = '';
                        if ($this->quoteClientPeople && $this->quoteClientPeople->getDocument()) {
                            foreach ($this->quoteClientPeople->getDocument() AS $document) {
                                if ($document->getDocumentType()->getDocumentType() == 'CNPJ') {
                                    $doc = Core\Helper\Format::maskNumber("##.###.###/####-##", $document->getDocument());
                                }
                            }
                        }
                        ?>
                        <input value="<?= $doc ?>" id="company-document" data-mask="({mask: '99.999.999/9999-99','clearIncomplete': true})" name="company-document" type="text" placeholder="<?= $this->translate('Enter document number of your client company') ?>" class="form-control input-md" required>
                    </div>
                </div>            
            </div>      
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label class="control-label" for="company-alias"><?= $this->translate('Company Alias') ?></label>
                <div class="input-group">                    
                    <input value="<?= $this->quoteClientPeople ? $this->quoteClientPeople->getAlias() : '' ?>" id="company-alias" data-mask="" name="company-alias" type="text" placeholder="<?= $this->translate('Enter alias of your client company') ?>" class="form-control input-md" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label class="control-label" for="name"><?= $this->translate('Company Name') ?></label>
                <div class="input-group">                    
                    <input value="<?= $this->quoteClientPeople ? $this->quoteClientPeople->getName() : '' ?>" id="company-name" name="company-name" type="text" placeholder="<?= $this->translate('Enter name of your client company') ?>" class="form-control input-md" required>
                </div>
            </div>
        </div>
        <div class="row">            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 client-company-<?= $this->source ?>" style="display:none">
                <label class="control-label" for="client-document"><?= $this->translate('Client Document') ?></label>
                <div class="input-group">                       
                    <?php
                    $doc = '';
                    if ($this->quoteClientPeople && $this->quoteClientPeople->getDocument()) {
                        foreach ($this->quoteClientPeople->getDocument() AS $document) {
                            if ($document->getDocumentType()->getDocumentType() == 'CPF') {
                                $doc = Core\Helper\Format::maskNumber("##.###.###-##", str_pad($document->getDocument(), 10, '0', STR_PAD_LEFT));
                            }
                        }
                    }
                    ?>
                    <input value="<?= $doc ?>" id="client-document" data-mask="({mask: '[9]99.999.999-99','clearIncomplete': true})" name="client-document" type="text" placeholder="<?= $this->translate('Enter document number of your Client') ?>" class="form-control input-md" required>
                </div>
            </div>            
        </div>
    </div>
    <div class="row-box">
        <div class="row select-contact">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 select-contact-client-container-<?= $this->source ?>">
                <?php if ($this->clientContacts && count($this->clientContacts) > 1) { ?>                            
                    <label class="control-label" for="contact-<?= $this->source ?>"><?= $this->translate('Select a contact') ?></label>
                    <div class="input-group">
                        <select class="form-control" id="contact-<?= $this->source ?>" name="contact-id" data-choose-contacts="#<?= $this->source ?>-client-address-form">
                            <option data-contact-nickname="<?= $this->translate('Delivery contact') ?>" data-country="Brazil" value=""><?= $this->translate('New contact') ?></option>

                            <?php foreach ($this->clientContacts AS $a) { ?>                            
                                <option       
                                    data-contact-name="<?= $a->getName() ?>"
                                    data-contact-email="<?= count($a->getEmail()) > 0 ? $a->getEmail()[0]->getEmail() : '' ?>"
                                    data-contact-ddd="<?= count($a->getPhone()) > 0 ? $a->getPhone()[0]->getDdd() : '' ?>"
                                    data-contact-phone="<?= count($a->getPhone()) > 0 ? $a->getPhone()[0]->getPhone() : '' ?>"
                                    value="<?= $a->getId() ?>" 
                                    <?= $this->quoteClientContact && $this->quoteClientContact->getId() === $a->getId() ? 'SELECTED' : '' ?>>
                                        <?= $a->getName() ?>
                                </option>
                            <?php } ?>                                                
                        </select>  
                    </div>
                <?php } else { ?>
                    <label class="control-label label-title" for="contact-<?= $this->source ?>"><?= $this->translate('Add new ' . $this->source . ' contact') ?></label>                    
                <?php } ?>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" id="label-add-email" for="input-add-email"><?= $this->translate('Email') ?>: </label>
                <div class="input-group">
                    <input data-contact-email="contact-email" value="<?= $this->quoteClientContact && count($this->quoteClientContact->getEmail()) > 0 ? $this->quoteClientContact->getEmail()[0]->getEmail() : '' ?>" data-mask="({mask: '*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@*{1,20}[.*{2,6}][.*{1,2}]',greedy: false,onBeforePaste: function (pastedValue, opts) {pastedValue = pastedValue.toLowerCase();return pastedValue.replace('mailto:', '');},definitions: {'*': {validator: '[0-9A-Za-z!#$%&\'*+/=?^_`{|}~\-]',cardinality: 1,casing: 'lower'}}})" class="form-control input-md" id="input-add-email" name="email" type="text" placeholder="<?= $this->translate('Email') ?>" required>
                </div>                      
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" for="client-name"><?= $this->translate('Quote client name') ?></label>
                <div class="input-group">
                    <input data-contact-name="contact-name" value="<?= $this->quoteClientContact ? $this->quoteClientContact->getName() : '' ?>" id="client-name" data-mask="" name="contact-name" type="text" placeholder="<?= $this->translate('Enter name of your client') ?>" class="form-control input-md" required>
                </div>
            </div>            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" id="label-add-phone" for="input-add-phone"><?= $this->translate('Phone') ?>: </label>
                <div class="input-group">
                    <input data-contact-ddd="contact-ddd" value="<?= $this->quoteClientContact && count($this->quoteClientContact->getPhone()) > 0 ? $this->quoteClientContact->getPhone()[0]->getDdd() : '' ?>" data-mask="({mask: '(99)',keepStatic: true})" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-control" value="" id="input-add-ddd" name="ddd" type="text" placeholder="<?= $this->translate('DDD') ?>" required>                
                    <input data-contact-phone="contact-phone" value="<?= $this->quoteClientContact && count($this->quoteClientContact->getPhone()) > 0 ? $this->quoteClientContact->getPhone()[0]->getPhone() : '' ?>" data-mask="({mask: ['9999-9999', '99999-9999'],keepStatic: true})" class="col-xs-9 col-sm-9 col-md-9 col-lg-9 form-control" value="" id="input-add-phone" name="phone" type="text" placeholder="<?= $this->translate('Phone') ?>" required>
                </div>                      
            </div>
        </div>          
    </div>    
    <div class="row-box">
        <div class="row select-address hidden">        
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">                
                <div class="select-address-client-container-<?= $this->source ?>">
                    <?php if ($this->clientAddress && count($this->clientAddress) > 1) { ?>                
                        <label class="control-label" for="address-<?= $this->source ?>"><?= $this->translate('Select a address') ?></label>
                        <div class="input-group">
                            <select class="form-control" id="address-<?= $this->source ?>" name="address-id" data-choose-address="#<?= $this->source ?>-client-address-form">
                                <option data-address-nickname="<?= $this->translate($this->source . ' address') ?>" data-country="Brazil" value=""><?= $this->translate('New address') ?></option>
                                <?php foreach ($this->clientAddress AS $a) { ?>
                                    <option 
                                        data-address-nickname="<?= $a->getNickName() ?>" 
                                        data-cep="<?= preg_replace("/^(\d{5})(\d{3})$/", "\\1-\\2", str_pad($a->getStreet()->getCep()->getCep(), 8, '0', STR_PAD_LEFT)) ?>" 
                                        data-street="<?= $a->getStreet()->getStreet() ?>" 
                                        data-address-number="<?= $a->getNumber() ?>" 
                                        data-complement="<?= $a->getComplement() ?>" 
                                        data-district="<?= $a->getStreet()->getDistrict()->getDistrict() ?>" 
                                        data-city="<?= $a->getStreet()->getDistrict()->getCity()->getCity() ?>" 
                                        data-state="<?= $a->getStreet()->getDistrict()->getCity()->getState()->getState() ?>" 
                                        data-country="<?= $a->getStreet()->getDistrict()->getCity()->getState()->getCountry()->getCountryName() ?>" 
                                        value="<?= $a->getId() ?>" 
                                        <?= $this->quoteClientAddress && $this->quoteClientAddress->getId() === $a->getId() ? 'SELECTED' : '' ?>>
                                            <?= $a->getNickName() ?>
                                    </option>                                
                                </select>                            
                            </div>
                        <?php } ?>
                    <?php } else { ?>                        
                        <label class="control-label label-title" for="address-<?= $this->source ?>"><?= $this->translate('Add new ' . $this->source . ' address') ?></label>
                        <div class="input-group hide">
                            <select class="form-control" id="address-<?= $this->source ?>" name="address-id" data-choose-address="#<?= $this->source ?>-client-address-form">
                                <option data-address-nickname="<?= $this->translate($this->source . ' address') ?>" data-country="Brazil" value=""><?= $this->translate('New address') ?></option>
                            </select>                            
                        </div>                                                
                    <?php } ?>
                </div>                                                        
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label address-input-toggle <?= !$this->quoteClientAddress ? '' : 'hidden' ?>" for="address-nickname"><?= $this->translate('Address nickname') ?></label>
                <div class="input-group address-input-toggle <?= !$this->quoteClientAddress ? '' : 'hidden' ?>">                                    
                    <input value="<?= $this->quoteClientAddress ? $this->quoteClientAddress->getNickName() : $this->translate($this->source . ' address') ?>" data-address-nickname="address-nickname" name="address-nickname" type="text" placeholder="<?= $this->translate('Enter alias of your address') ?>" class="form-control input-md" required readonly>
                </div>                        
            </div>                                
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" for="address-cep"><?= $this->translate('Postal code') ?></label>
                <div class="input-group">                                                        
                    <input value="<?= $this->quoteClientAddress ? preg_replace("/^(\d{5})(\d{3})$/", "\\1-\\2", str_pad($this->quoteClientAddress->getStreet()->getCep()->getCep(), 8, '0', STR_PAD_LEFT)) : '' ?>" data-default-contry="Brazil" data-cep="cep" data-mask="({mask: '99999-999','clearIncomplete': true})" name="cep" type="text" placeholder="<?= $this->translate('Enter CEP of your address') ?>" class="form-control input-md" required readonly>
                </div>
            </div>                                
        </div>        
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label class="control-label" for="street"><?= $this->translate('Street adress') ?></label>
                <div class="input-group">                                                        
                    <input value="<?= $this->quoteClientAddress ? $this->quoteClientAddress->getStreet()->getStreet() : '' ?>" data-street="street" name="street" type="text" placeholder="<?= $this->translate('Enter address of your Company') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>
            </div>        
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <label class="control-label" for="address-number"><?= $this->translate('Address number') ?></label>
                <div class="input-group">                                                        
                    <input  value="<?= $this->quoteClientAddress ? $this->quoteClientAddress->getNumber() : '' ?>" data-address-number="address-number" name="address-number" type="text" placeholder="<?= $this->translate('Enter address number') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" for="complement"><?= $this->translate('Address complement') ?></label>
                <div class="input-group">                                                        
                    <input  value="<?= $this->quoteClientAddress ? $this->quoteClientAddress->getComplement() : '' ?>" data-complement="complement" name="complement" type="text" placeholder="<?= $this->translate('Enter complement of your address') ?>" class="form-control input-md" readonly>
                </div>                        
            </div>                                
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" for="district"><?= $this->translate('Address district') ?></label>
                <div class="input-group">                    
                    <input  value="<?= $this->quoteClientAddress ? $this->quoteClientAddress->getStreet()->getDistrict()->getDistrict() : '' ?>" data-district="district" name="district" type="text" placeholder="<?= $this->translate('Enter district of your address') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>                        
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <label class="control-label" for="city"><?= $this->translate('Address city') ?></label>
                <div class="input-group">                                                        
                    <input  value="<?= $this->quoteClientAddress ? $this->quoteClientAddress->getStreet()->getDistrict()->getCity()->getCity() : '' ?>" data-city="city" name="city" type="text" placeholder="<?= $this->translate('Enter city of your address') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <label class="control-label" for="state"><?= $this->translate('Address state') ?></label>
                <div class="input-group">                                                                           
                    <input  value="<?= $this->quoteClientAddress ? $this->quoteClientAddress->getStreet()->getDistrict()->getCity()->getState()->getState() : '' ?>" data-state="state" name="state" type="text" placeholder="<?= $this->translate('Enter state of your address') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <label class="control-label" for="country"><?= $this->translate('Address country') ?></label>
                <div class="input-group">                                                                            
                    <input  value="<?= $this->quoteClientAddress ? $this->quoteClientAddress->getStreet()->getDistrict()->getCity()->getState()->getCountry()->getCountryName() : '' ?>" data-country="country" name="country" type="text" placeholder="<?= $this->translate('Enter country of your address') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>                        
            </div>
        </div>                                                                                            
    </div>
    <div class="text-center add-quote-address">            
        <input type="hidden" name="lat" data-lat="lat">
        <input type="hidden" name="lng" data-lng="lng">
        <button data-add="/<?= $this->module_name ?>/add-quote-<?= $this->source ?>-client.json" data-fire-after-success="<?= $this->source == 'origin' ? '#btn-delivery-address' : '#btn-quote-details' ?>" name="add-<?= $this->source ?>-address" type="button" class="btn btn-primary pull-right">
            <?= ucfirst($this->translate('Add ' . $this->source . ' data')) ?>
        </button>     
        <div class="clearfix"></div>
    </div>
    <div id="gmapsstreetview" class="row">
        <span class="line-street-view pull-left"> </span>
        <div id="gmapsstreetviewpano-client-<?= $this->source ?>" class="gmapsstreetviewpano col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
        <div id="gmapsstreetviewmap-client-<?= $this->source ?>" class="gmapsstreetviewmap col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>                        
    </div>

</form>