<form data-postmon-form="data-postmon-form" action="/<?= $this->module_name ?>/add-address.json<?= $this->companyModel->getCurrentPeopleCompany() ? '?company_id=' . $this->companyModel->getCurrentPeopleCompany()->getId() : '' ?>" id="<?= $this->source ?>-company-address-form" data-select-address="#address-<?= $this->source ?>" data-svp-id="gmapsstreetviewpano-company-<?= $this->source ?>" data-svm-id="gmapsstreetviewmap-company-<?= $this->source ?>" class="form-horizontal" method="POST">
    <input type="hidden" name="quote" value="<?= $quote->getId() ?>">
    <div class="row-box">
        <div class="row select-contact">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 select-contact-company-container-<?= $this->source ?>">
                <?php if ($this->companyContacts && count($this->companyContacts) > 1) { ?>                            
                    <label class="control-label label-title" for="contact-<?= $this->source ?>"><?= $this->translate('My contacts (Select a contact)') ?></label>
                    <div class="input-group">
                        <select class="form-control" id="contact-<?= $this->source ?>" name="contact-id" data-choose-contacts="#<?= $this->source ?>-company-address-form">
                            <option data-contact-nickname="<?= $this->translate('Delivery contact') ?>" data-country="Brazil" value=""><?= $this->translate('New contact') ?></option>
                            <?php foreach ($this->companyContacts AS $a) { ?>                            
                                <option       
                                    data-contact-name="<?= $a->getName() ?>"
                                    data-contact-email="<?= count($a->getEmail()) > 0 ? $a->getEmail()[0]->getEmail() : '' ?>"
                                    data-contact-ddd="<?= count($a->getPhone()) > 0 ? $a->getPhone()[0]->getDdd() : '' ?>"
                                    data-contact-phone="<?= count($a->getPhone()) > 0 ? $a->getPhone()[0]->getPhone() : '' ?>"
                                    value="<?= $a->getId() ?>" 
                                    <?= $this->quoteCompanyContact && $this->quoteCompanyContact->getId() === $a->getId() ? 'SELECTED' : '' ?>>
                                        <?= $a->getName() ?>
                                </option>
                            <?php } ?>                        
                        </select>  
                    </div>
                <?php } else { ?>
                    <label class="control-label label-title" for="contact-<?= $this->source ?>"><?= $this->translate('Add new ' . $this->source . ' contact') ?></label>                    
                <?php } ?>
            </div>            
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" for="contact-name"><?= $this->translate('Quote client name') ?></label>
                <div class="input-group">                
                    <input data-contact-name="contact-name" value="<?= $this->quoteCompanyContact ? $this->quoteCompanyContact->getName() : '' ?>" id="contact-name" data-mask="" name="contact-name" type="text" placeholder="<?= $this->translate('Enter name of your client') ?>" class="form-control input-md" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" id="label-add-email" for="company-email"><?= $this->translate('Email') ?>: </label>
                <div class="input-group">
                    <input data-contact-email="contact-email" value="<?= $this->quoteCompanyContact && count($this->quoteCompanyContact->getEmail()) > 0 ? $this->quoteCompanyContact->getEmail()[0]->getEmail() : '' ?>" data-mask="({mask: '*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@*{1,20}[.*{2,6}][.*{1,2}]',greedy: false,onBeforePaste: function (pastedValue, opts) {pastedValue = pastedValue.toLowerCase();return pastedValue.replace('mailto:', '');},definitions: {'*': {validator: '[0-9A-Za-z!#$%&\'*+/=?^_`{|}~\-]',cardinality: 1,casing: 'lower'}}})" class="form-control input-md" id="company-email" name="email" type="text" placeholder="<?= $this->translate('Email') ?>" required>
                </div>                      
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" id="label-add-phone" for="company-phone"><?= $this->translate('Phone') ?>: </label>
                <div class="input-group">
                    <input data-contact-ddd="contact-ddd" value="<?= $this->quoteCompanyContact && count($this->quoteCompanyContact->getPhone()) > 0 ? $this->quoteCompanyContact->getPhone()[0]->getDdd() : '' ?>" data-mask="({mask: '(99)',keepStatic: true})" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-control" value="" id="company-ddd" name="ddd" type="text" placeholder="<?= $this->translate('DDD') ?>" required>                
                    <input data-contact-phone="contact-phone" value="<?= $this->quoteCompanyContact && count($this->quoteCompanyContact->getPhone()) > 0 ? $this->quoteCompanyContact->getPhone()[0]->getPhone() : '' ?>" data-mask="({mask: ['9999-9999', '99999-9999'],keepStatic: true})" class="col-xs-9 col-sm-9 col-md-9 col-lg-9 form-control" value="" id="company-phone" name="phone" type="text" placeholder="<?= $this->translate('Phone') ?>" required>
                </div>                      
            </div>
        </div>
    </div>
    <div class="row-box">
        <div class="row select-address hidden">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="select-address-company-container-<?= $this->source ?>">
                    <?php if ($this->companyAddress && count($this->companyAddress) > 1) { ?>
                        <label class="control-label label-title" for="address-<?= $this->source ?>"><?= $this->translate('My address (Select a address)') ?></label>
                        <div class="input-group">
                            <select class="form-control" id="address-<?= $this->source ?>" name="address-id" data-choose-address="#<?= $this->source ?>-company-address-form">
                                <option data-address-nickname="<?= $this->translate($this->source . ' address') ?>" data-country="Brazil" value=""><?= $this->translate('New address') ?></option>                            
                                <?php foreach ($this->companyAddress AS $a) { ?>
                                    <option 
                                        data-address-nickname="<?= $a->getNickName() ?>" 
                                        data-cep="<?= preg_replace("/^(\d{5})(\d{3})$/", "\\1-\\2", str_pad($a->getStreet()->getCep()->getCep(), 8, '0', STR_PAD_LEFT)) ?>" 
                                        data-street="<?= $a->getStreet()->getStreet() ?>" 
                                        data-address-number="<?= $a->getNumber() ?>" 
                                        data-complement="<?= $a->getComplement() ?>" 
                                        data-district="<?= $a->getStreet()->getDistrict()->getDistrict() ?>" 
                                        data-city="<?= $a->getStreet()->getDistrict()->getCity()->getCity() ?>" 
                                        data-state="<?= $a->getStreet()->getDistrict()->getCity()->getState()->getState() ?>" 
                                        data-country="<?= $a->getStreet()->getDistrict()->getCity()->getState()->getCountry()->getCountryName() ?>" 
                                        value="<?= $a->getId() ?>" 
                                        <?= $this->quoteCompanyAddress && $this->quoteCompanyAddress->getId() === $a->getId() ? 'SELECTED' : '' ?>>
                                            <?= $a->getNickName() ?>
                                    </option>
                                <?php } ?>                                                    
                            </select>                            
                        </div>
                    <?php } else { ?>
                        <label class="control-label label-title" for="address-<?= $this->source ?>"><?= $this->translate('Add new ' . $this->source . ' address') ?></label>
                    <?php } ?>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label address-input-toggle <?= !$this->quoteCompanyAddress ? '' : 'hidden' ?>" for="address-nickname"><?= $this->translate('Address nickname') ?></label>
                <div class="input-group address-input-toggle <?= !$this->quoteCompanyAddress ? '' : 'hidden' ?>">                                    
                    <input value="<?= $this->quoteCompanyAddress ? $this->quoteCompanyAddress->getNickName() : $this->translate($this->source . ' address') ?>" data-address-nickname="address-nickname" name="address-nickname" type="text" placeholder="<?= $this->translate('Enter alias of your address') ?>" class="form-control input-md" required readonly>
                </div>                        
            </div>                                        
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" for="address-cep"><?= $this->translate('Postal code') ?></label>
                <div class="input-group">                                                        
                    <input value="<?= $this->quoteCompanyAddress ? preg_replace("/^(\d{5})(\d{3})$/", "\\1-\\2", str_pad($this->quoteCompanyAddress->getStreet()->getCep()->getCep(), 8, '0', STR_PAD_LEFT)) : '' ?>" data-default-contry="Brazil" data-cep="cep" data-mask="({mask: '99999-999','clearIncomplete': true})" name="cep" type="text" placeholder="<?= $this->translate('Enter CEP of your address') ?>" class="form-control input-md" required readonly>
                </div>
            </div>                                
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label class="control-label" for="street"><?= $this->translate('Street adress') ?></label>
                <div class="input-group">                                                        
                    <input value="<?= $this->quoteCompanyAddress ? $this->quoteCompanyAddress->getStreet()->getStreet() : '' ?>" data-street="street" name="street" type="text" placeholder="<?= $this->translate('Enter address of your Company') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>
            </div>        
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <label class="control-label" for="address-number"><?= $this->translate('Address number') ?></label>
                <div class="input-group">                                                        
                    <input  value="<?= $this->quoteCompanyAddress ? $this->quoteCompanyAddress->getNumber() : '' ?>" data-address-number="address-number" name="address-number" type="text" placeholder="<?= $this->translate('Enter address number') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" for="complement"><?= $this->translate('Address complement') ?></label>
                <div class="input-group">                                                        
                    <input  value="<?= $this->quoteCompanyAddress ? $this->quoteCompanyAddress->getComplement() : '' ?>" data-complement="complement" name="complement" type="text" placeholder="<?= $this->translate('Enter complement of your address') ?>" class="form-control input-md" readonly>
                </div>                        
            </div>                                
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" for="district"><?= $this->translate('Address district') ?></label>
                <div class="input-group">                                    
                    <input  value="<?= $this->quoteCompanyAddress ? $this->quoteCompanyAddress->getStreet()->getDistrict()->getDistrict() : '' ?>" data-district="district" name="district" type="text" placeholder="<?= $this->translate('Enter district of your address') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>                        
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <label class="control-label" for="city"><?= $this->translate('Address city') ?></label>
                <div class="input-group">                                                        
                    <input  value="<?= $this->quoteCompanyAddress ? $this->quoteCompanyAddress->getStreet()->getDistrict()->getCity()->getCity() : '' ?>" data-city="city" name="city" type="text" placeholder="<?= $this->translate('Enter city of your address') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <label class="control-label" for="state"><?= $this->translate('Address state') ?></label>
                <div class="input-group">                                                                           
                    <input  value="<?= $this->quoteCompanyAddress ? $this->quoteCompanyAddress->getStreet()->getDistrict()->getCity()->getState()->getState() : '' ?>" data-state="state" name="state" type="text" placeholder="<?= $this->translate('Enter state of your address') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <label class="control-label" for="country"><?= $this->translate('Address country') ?></label>
                <div class="input-group">                                                                            
                    <input  value="<?= $this->quoteCompanyAddress ? $this->quoteCompanyAddress->getStreet()->getDistrict()->getCity()->getState()->getCountry()->getCountryName() : '' ?>" data-country="country" name="country" type="text" placeholder="<?= $this->translate('Enter country of your address') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>                        
            </div>
        </div>
    </div>
    <div class="text-center add-quote-address">            
        <input type="hidden" name="lat" data-lat="lat">
        <input type="hidden" name="lng" data-lng="lng">
        <button data-add="/<?= $this->module_name ?>/add-quote-<?= $this->source ?>-company.json" data-fire-after-success="<?= $this->source == 'origin' ? '#btn-delivery-address' : '#btn-quote-details' ?>" name="add-<?= $this->source ?>-address" type="button" class="btn btn-primary pull-right">
            <?= ucfirst($this->translate('Add ' . $this->source . ' data')) ?>
        </button>    
        <div class="clearfix"></div>
    </div>
    <div id="gmapsstreetview" class="row">                        
        <span class="line-street-view pull-left"> </span>
        <div id="gmapsstreetviewpano-company-<?= $this->source ?>" class="gmapsstreetviewpano col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
        <div id="gmapsstreetviewmap-company-<?= $this->source ?>" class="gmapsstreetviewmap col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>                        
    </div>    
</form>