<div class="app-container app-login" data-need-login="true">
    <div class="flex-center">        
        <div class="app-body create-account-body">
            <div class="payment-logo">
                <img style="height: 100%" alt="<?= $this->translate('Application Name') ?>" src="<?= $this->defaultCompany && $this->defaultCompany->getImage() ? $this->defaultCompany->getImage()->getUrl() : $this->default_company_logo ?>">
            </div>
            <div class="app-block">
                <div class="app-form">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <h4>
                            <?= $this->translate('Payment invoice') ?>: 
                            <a target="_blank" href="/finance/pay/id/<?= $this->order->getInvoice()[0]->getInvoice()->getId(); ?>">#<?= $this->order->getInvoice()[0]->getInvoice()->getId(); ?></a>
                        </h4>              
                        <?php if (count($this->order->getInvoice()[0]->getInvoice()->getServiceInvoiceTax()) > 0 && $this->order->getInvoice()[0]->getInvoice()->getServiceInvoiceTax()[0]->getServiceInvoiceTax()->getInvoiceNumber()) { ?>
                            <h4>                                
                                <?= $this->translate('Invoice tax') ?>:
                                <a target="_blank" href="/finance/service-invoice-tax/id/<?= $this->order->getInvoice()[0]->getInvoice()->getServiceInvoiceTax()[0]->getServiceInvoiceTax()->getInvoiceNumber() ?>.pdf">#<?= $this->order->getInvoice()[0]->getInvoice()->getServiceInvoiceTax()[0]->getServiceInvoiceTax()->getInvoiceNumber() ?></a>
                            </h4>
                        <?php } ?>
                        <?php if (count($this->order->getInvoice()[0]->getInvoice()->getOrder()) > 1) { ?>
                            <?php foreach ($this->order->getInvoice()[0]->getInvoice()->getOrder() AS $order) { ?>                                        
                                <h4>
                                    <?= $this->translate('Order') ?>:                                 
                                    <a target="_blank" href="/purchasing/order/id/<?= $order->getOrder()->getId(); ?>">#<?= $order->getOrder()->getId(); ?></a>
                                </h4>
                            <?php } ?>
                        <?php } else { ?>
                            <h4>
                                <?= $this->translate('Order') ?>: 
                                <a target="_blank" href="/purchasing/order/id/<?= $this->order->getId(); ?>">#<?= $this->order->getId(); ?></a>
                            </h4>
                            <!--<h4>Nota: #<?= $this->order->getId(); ?></h4>-->
                            <?php if ($this->order->getQuote() && $this->order->getQuote()->getCarrier()->getImage()) { ?> 
                                <h4><?= $this->translate('Carrier') ?>: </h4>
                                <img class="carrier-logo-payment" alt="<?= $this->order->getQuote()->getCarrier()->getAlias() ?>" title="<?= $this->order->getQuote()->getCarrier()->getAlias() ?>" src="<?= $this->order->getQuote()->getCarrier()->getImage()->getUrl() ?>"/>
                                <h5 class="quote-subtittle"><small class="text-muted"><?= $this->order->getQuote()->getCarrier()->getName() ?></small></h5>
                            <?php } elseif ($this->order->getQuote()) { ?>
                                <h4><?= $this->translate('Carrier') ?>: </h4>
                                <h3 class="quote-tittle"><?= $this->order->getQuote()->getCarrier()->getAlias() ?></h3>
                                <h5 class="quote-subtittle"><small class="text-muted"><?= $this->order->getQuote()->getCarrier()->getName() ?></small></h5>
                            <?php } ?>                        
                        <?php } ?>
                    </div>    
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">                        
                        <h5><?= $this->translate('Due date') ?>: <?= $this->order->getInvoice()[0]->getInvoice()->getDueDate()->format('d/m/Y'); ?></h5>
                        <h4><?= $this->translate('Invoice price') ?>: <b><?= $this->translate('corrency_symbol') ?> <?= number_format($this->order->getInvoice()[0]->getInvoice()->getPrice(), 2, ',', '.') ?></b></h4>
                        <form id="itau-form-status" method="POST" class="itau-payment" action="<?= $this->config->config('itau-shopline-status-url') ?>" name="itau-form-status" target="SHOPLINE">
                            <input type="hidden" name="DC" value="<?= $this->itauStatusData ?>">
                            <input type="submit" name="Shopline" value="<?= $this->translate('Check the payment status') ?>" class="btn btn-secondary">
                        </form>
                        <?php if ($this->order->getStatus()->getStatus() == 'waiting payment' || $this->order->getInvoice()[0]->getInvoice()->getStatus()->getStatus() == 'waiting payment') { ?>
                            <form id="itau-form-payment" method="POST" class="itau-payment" ACTION="<?= $this->config->config('itau-shopline-invoice-url') ?>" name="itau-form-payment" target="<?= ($this->itauReturn['tipPag'] == '02' && $this->itauReturn['sitPag'] == '04') ? 'INVOICE-SHOPLINE' : 'SHOPLINE' ?>">
                                <INPUT TYPE="hidden" NAME="DC" VALUE="<?= $this->itauData ?>">        
                                <INPUT TYPE="submit" style="padding-right: 50px;" name="<?= ($this->itauReturn['tipPag'] == '02' && $this->itauReturn['sitPag'] == '04') ? 'INVOICE-SHOPLINE' : 'SHOPLINE' ?>" value="<?= $this->translate('Make payment') ?>" class="btn btn-success">
                            </form>                                
                            <i class="itau-logo"></i>
                        <?php } ?>                        
                    </div>                    
                    <div class="clearfix"></div>
                    <!--
                    <?php if ($this->itauReturn['tipPag'] == '02' && $this->itauReturn['sitPag'] == '04') { ?>
                                                    <iframe name="INVOICE-SHOPLINE" width="100%" height="1200" frameBorder="0"></iframe>
                    <?php } ?>                        
                    -->
                </div>                
            </div>
            <div class="row footer-payment">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <?= $this->translate('SSL Slug') ?>
                </div>
            </div>
            <div class="row call-center-payment">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
                    <h4>
                        <?= $this->translate('Call center') ?>
                    </h4>
                    <h4>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="tel:+<?= $this->config->config('call-center-phone') ?>" data-clicked="true"><?= $this->config->config('call-center-phone') ?>
                        </a>
                    </h4>
                    <h4>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="mailto:<?= $this->config->config('call-center-email') ?>" data-clicked="true"><?= $this->config->config('call-center-email') ?>
                        </a>
                    </h4>
                </div>
            </div>
        </div>        
    </div>        
</div>