<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 invoice-header">
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	<h4 class="pull-left">Fatura: #<?= $this->order->getInvoice()[0]->getInvoice()->getId(); ?></h4>
</div>	
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
	</div>		
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
	<?php if ($this->order->getStatus()->getStatus() == 'outdated billing' || $this->order->getInvoice()[0]->getInvoice()->getStatus()->getStatus() == 'outdated billing') { ?>				  				  
		<h4 style="color:red">Esta fatura foi reagendada</h4>				  
	<?php } ?>	
	</div>	
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">    	
		<h4>Vencimento: <?= $this->order->getInvoice()[0]->getInvoice()->getDueDate()->format('d/m/Y'); ?>    </h4>
	</div>	
</div>				
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
	</div>		
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
		<?php if ($this->order->getStatus()->getStatus() == 'waiting payment' || 
				  $this->order->getInvoice()[0]->getInvoice()->getStatus()->getStatus() == 'waiting payment' || 
				  $this->order->getStatus()->getStatus() == 'outdated billing' || 
				  $this->order->getInvoice()[0]->getInvoice()->getStatus()->getStatus() == 'outdated billing') { ?>				  				  
			<form id="itau-form-payment" method="POST" class="itau-payment" ACTION="<?= $this->config->config('itau-shopline-invoice-url') ?>" name="itau-form-payment" target="<?= ($this->itauReturn['tipPag'] == '02' && $this->itauReturn['sitPag'] == '04') ? 'INVOICE-SHOPLINE' : 'SHOPLINE' ?>">
				<INPUT TYPE="hidden" NAME="DC" VALUE="<?= $this->itauData ?>">        
				<INPUT TYPE="submit" name="<?= ($this->itauReturn['tipPag'] == '02' && $this->itauReturn['sitPag'] == '04') ? 'INVOICE-SHOPLINE' : 'SHOPLINE' ?>" value="<?= $this->translate('Make payment') ?>" class="btn btn-primary">
			</form>    
		<?php } ?>
	</div>	
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
		<form id="itau-form-status" method="POST" class="itau-payment" action="<?= $this->config->config('itau-shopline-status-url') ?>" name="itau-form-status" target="SHOPLINE">
			<input type="hidden" name="DC" value="<?= $this->itauStatusData ?>">
			<input type="submit" name="Shopline" value="<?= $this->translate('Check the payment status') ?>" class="btn btn-secondary">
		</form>
	</div>	
</div>				
</div>
<div class="clearfix"></div>
<?php if ($this->itauReturn['tipPag'] == '02' && $this->itauReturn['sitPag'] == '04') { ?>
    <iframe name="INVOICE-SHOPLINE" width="100%" height="1200" frameBorder="0"></iframe>
<?php } ?>