<?php if ($this->quote && $this->order && $this->order->getDeliveryPeople()) { ?>
    <div class="row-box">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin no-padding">                    
            <label class="control-label label-title" ><?= $this->translate('Delivery data') ?></label>                    
        </div>       
        <table width="100%">            
            <?php if ($this->order->getDeliveryPeople()->getPeopleType() == 'J') { ?>
                <tr>
                    <td><label class="control-label" for="company-alias"><?= $this->translate('Company Alias') ?>:</label></td> 
                    <td><span><?= $this->order->getDeliveryPeople()->getAlias() ?></span>                    </td> 
                </tr>
                <tr>
                    <td><label class="control-label" for="name"><?= $this->translate('Company Name') ?>:</label></td> 
                    <td><span><?= $this->order->getDeliveryPeople()->getName() ?></span>                    </td> 
                </tr>
                <tr>
                    <td><label class="control-label" for="company-document"><?= $this->translate('Company Document') ?>:</label></td> 
                    <td>
                        <?php
                        $doc = '';
                        if ($this->order->getDeliveryPeople() && $this->order->getDeliveryPeople()->getDocument()) {
                            foreach ($this->order->getDeliveryPeople()->getDocument() AS $document) {
                                if ($document->getDocumentType()->getDocumentType() == 'CNPJ') {
                                    $doc = Core\Helper\Format::maskNumber("##.###.###/####-##", $document->getDocument());
                                }
                            }
                        }
                        ?>
                        <span><?= $doc ?></span>                    
                    </td> 
                </tr>
            <?php } ?>
            <?php if ($this->order->getDeliveryPeople()->getPeopleType() == 'F') { ?>        
                <tr>
                    <td><label class="control-label" for="client-document"><?= $this->translate('Client Document') ?>:</label></td> 
                    <td>
                        <?php
                        $doc = '';
                        if ($this->order->getDeliveryPeople() && $this->order->getDeliveryPeople()->getDocument()) {
                            foreach ($this->order->getDeliveryPeople()->getDocument() AS $document) {
                                if ($document->getDocumentType()->getDocumentType() == 'CPF') {
                                    $doc = Core\Helper\Format::maskNumber("###.###.###-##", str_pad($document->getDocument(), 10, '0', STR_PAD_LEFT));
                                }
                            }
                        }
                        ?>
                        <span><?= $doc ?></span>                    
                    </td> 
                </tr>
            <?php } ?>        
            <tr>
                <td><label class="control-label" for="client-name"><?= $this->translate('Quote client name') ?>:</label></td> 
                <td><span><?= $this->order->getDeliveryContact() ? $this->order->getDeliveryContact()->getName() : '' ?></span>                    </td> 
            </tr>
            <?php if ($this->order->getDeliveryContact() && count($this->order->getDeliveryContact()->getEmail()) > 0) { ?>
                <?php foreach ($this->order->getDeliveryContact()->getEmail() AS $email) { ?>
                    <tr>
                        <td><label class="control-label" id="label-add-email" for="input-add-email"><?= $this->translate('Email') ?>:</label></td> 
                        <td><span><?= $email->getEmail() ?></span>                                            </td> 
                    </tr>                    
                <?php } ?>
            <?php } ?>
            <?php if ($this->order->getDeliveryContact() && count($this->order->getDeliveryContact()->getPhone()) > 0) { ?>
                <?php foreach ($this->order->getDeliveryContact()->getPhone() AS $phone) { ?>
                    <tr>
                        <td><label class="control-label" id="label-add-phone" for="input-add-phone"><?= $this->translate('Phone') ?>:</label></td> 
                        <td>
                            <span data-contact-ddd="contact-ddd" >(<?= $phone->getDdd() ?>)</span>                        
                            <span data-contact-phone="contact-phone"><?= Core\Helper\Format::maskNumber(strlen($phone->getPhone()) > 8 ? "#####-####" : "####-####", $phone->getPhone()) ?></span>
                        </td> 
                    </tr>                    
                <?php } ?>
            <?php } ?>
            <?php if ($this->order->getAddressDestination()) { ?>                                                                                                            
                <tr>
                    <td><label class="control-label" for="address-cep"><?= $this->translate('Postal code') ?>:</label></td> 
                    <td><span><?= preg_replace("/^(\d{5})(\d{3})$/", "\\1-\\2", str_pad($this->order->getAddressDestination()->getStreet()->getCep()->getCep(), 8, '0', STR_PAD_LEFT)) ?></span>                    </td> 
                </tr>
                <tr>
                    <td><label class="control-label" for="address-street"><?= $this->translate('Address Destination') ?>:</label></td> 
                    <td><span><?= $this->order->getAddressDestination()->getStreet()->getStreet() ?></span>                    </td> 
                </tr>
                <tr>
                    <td><label class="control-label" for="address-number"><?= $this->translate('Address number') ?>:</label></td> 
                    <td><span><?= $this->order->getAddressDestination()->getNumber() ?></span></td> 
                </tr>
                <tr>
                    <td><label class="control-label" for="address-complement"><?= $this->translate('Address complement') ?>:</label></td> 
                    <td><span><?= $this->order->getAddressDestination()->getComplement() ?></span></td> 
                </tr>
                <tr>
                    <td><label class="control-label" for="address-district"><?= $this->translate('Address district') ?>:</label></td> 
                    <td><span><?= $this->order->getAddressDestination()->getStreet()->getDistrict()->getDistrict() ?></span></td> 
                </tr>
                <tr>
                    <td><label class="control-label" for="address-city"><?= $this->translate('Address city') ?>:</label></td> 
                    <td><span><?= $this->order->getAddressDestination()->getStreet()->getDistrict()->getCity()->getCity() ?></span></td> 
                </tr>
                <tr>
                    <td><label class="control-label" for="address-state"><?= $this->translate('Address state') ?>:</label></td> 
                    <td><span><?= $this->order->getAddressDestination()->getStreet()->getDistrict()->getCity()->getState()->getState() ?></span></td> 
                </tr>
            <?php } ?>                        
        </table>                                    
    </div>
<?php } else { ?>     
    <?= $this->translate('Delivery details has not yet been filled') ?>
<?php } ?>     