<div class="panel-heading">
    <h3 class="panel-title"><?= $this->translate('Destination') ?></h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="form-suggestion">
            <?= $this->translate('Company Address'); ?>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">                                    
        </div>                                
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <label class="control-label" for="cep-destination"><?= $this->translate('CEP') ?></label>
            <div class="input-group">                                    
                <input data-focus-success="#address-number-destination" data-quote-complement=".quote-complement-destination" data-default-contry="Brasil" data-cep="cep" data-mask="({mask: '99999-999','clearIncomplete': true})" name="cep-destination" data-postmon="address-search" type="text" placeholder="<?= $this->translate('Enter CEP of your address') ?>" class="form-control input-md" required>
            </div>
        </div>                                
    </div>
    <div class="row quote-complement-destination">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label class="control-label" for="street-destination"><?= $this->translate('Street') ?></label>
            <div class="input-group">                                    
                <input data-street="street" name="street-destination" type="text" placeholder="<?= $this->translate('Enter address of your Company') ?>" class="panoramio-search form-control input-md" required readonly>
            </div>
        </div>        
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <label class="control-label" for="address-number-destination"><?= $this->translate('Address Number') ?></label>
            <div class="input-group">                                    
                <input data-address-number="address-number-destination" name="address-number-destination" id="address-number-destination" type="text" placeholder="<?= $this->translate('Enter address number') ?>" class="panoramio-search form-control input-md" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <label class="control-label" for="complement-destination"><?= $this->translate('Complement') ?></label>
            <div class="input-group">                                    
                <input data-complement="complement-destination" name="complement-destination" type="text" placeholder="<?= $this->translate('Enter complement of your address') ?>" class="form-control input-md">
            </div>                        
        </div>                                
    </div>
    <div class="row quote-complement-destination">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <label class="control-label" for="district-destination"><?= $this->translate('District') ?></label>
            <div class="input-group">                                        
                <input data-district="district" name="district-destination" type="text" placeholder="<?= $this->translate('Enter district of your address') ?>" class="panoramio-search form-control input-md" required readonly>
            </div>                        
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <label class="control-label" for="city-destination"><?= $this->translate('City') ?></label>
            <div class="input-group">                                    
                <input data-city="city" name="city-destination" type="text" placeholder="<?= $this->translate('Enter city of your address') ?>" class="panoramio-search form-control input-md" required readonly>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <label class="control-label" for="state-destination"><?= $this->translate('State') ?></label>
            <div class="input-group">                                                                        
                <input data-state="state" name="state-destination" type="text" placeholder="<?= $this->translate('Enter state of your address') ?>" class="panoramio-search form-control input-md" required readonly>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <label class="control-label" for="country-destination"><?= $this->translate('Country') ?></label>
            <div class="input-group">                                                                        
                <input data-country="country" name="country-destination" type="text" placeholder="<?= $this->translate('Enter country of your address') ?>" class="panoramio-search form-control input-md" required readonly>
            </div>                        
        </div>
    </div> 
    <div class="row quote-complement-destination">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 quote-bottom"> 
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12"> 
                <h6><?= $this->translate('Order By') ?></h6>
                <label class="radio-inline">
                    <input type="radio" name="order" value="total" checked><?= $this->translate('Price') ?>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="order" value="deadline"><?= $this->translate('Deadline') ?>                            
                </label>    
            </div>
            <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12 background-quote">
                <button data-refresh-url="/sales/shipping-quote" data-refresh-container="['#quote-container']" type="button" class="btn btn-primary pull-right"><?= $this->translate('Make quote') ?></button>
            </div>
        </div>
    </div>
</div>