<div class="panel-heading">
    <h3 class="panel-title"><?= $this->translate('Origin') ?></h3>
</div>                                                
<div class="panel-body">
    <div class="card-header">
        <div class="row">
            <div class="form-suggestion">
                <?= $this->translate('Company Address'); ?>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">                                        
            </div>                                
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" for="cep-origin"><?= $this->translate('CEP') ?></label>
                <div class="input-group">                                    
                    <input data-focus-success="#address-number-origin" data-quote-complement=".quote-complement-origin" data-default-contry="Brasil" data-cep="cep" data-mask="({mask: '99999-999','clearIncomplete': true})" name="cep-origin" data-postmon="address-search" type="text" placeholder="<?= $this->translate('Enter CEP of your address') ?>" class="form-control input-md" required>
                </div>
            </div>                                
        </div>
        <div class="row quote-complement-origin">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label class="control-label" for="street-origin"><?= $this->translate('Street') ?></label>
                <div class="input-group">                                    
                    <input data-street="street" name="street-origin" type="text" placeholder="<?= $this->translate('Enter address of your Company') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>
            </div>        
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <label class="control-label" for="address-number-origin"><?= $this->translate('Address Number') ?></label>
                <div class="input-group">                                    
                    <input data-address-number="address-number-origin" name="address-number-origin" id="address-number-origin" type="text" placeholder="<?= $this->translate('Enter address number') ?>" class="panoramio-search form-control input-md" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" for="complement-origin"><?= $this->translate('Complement') ?></label>
                <div class="input-group">                                    
                    <input data-complement="complement-destination" name="complement-origin" type="text" placeholder="<?= $this->translate('Enter complement of your address') ?>" class="form-control input-md">
                </div>                        
            </div>
        </div>
        <div class="row quote-complement-origin">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" for="district-origin"><?= $this->translate('District') ?></label>
                <div class="input-group">                                            
                    <input data-district="district" name="district-origin" type="text" placeholder="<?= $this->translate('Enter district of your address') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>                        
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <label class="control-label" for="cit-origin"><?= $this->translate('City') ?></label>
                <div class="input-group">                                    
                    <input data-city="city" name="city-origin" type="text" placeholder="<?= $this->translate('Enter city of your address') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <label class="control-label" for="state-origin"><?= $this->translate('State') ?></label>
                <div class="input-group">                                                                        
                    <input data-state="state" name="state-origin" type="text" placeholder="<?= $this->translate('Enter state of your address') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <label class="control-label" for="country-origin"><?= $this->translate('Country') ?></label>
                <div class="input-group">                                                                        
                    <input data-country="country" name="country-origin" type="text" placeholder="<?= $this->translate('Enter country of your address') ?>" class="panoramio-search form-control input-md" required readonly>
                </div>                        
            </div>
        </div>                                                        
    </div>
    <div class="row quote-complement-origin">
        <button class="btn btn-primary nextBtn pull-right" type="button"><?= $this->translate('Next') ?></button>
    </div>
</div>