<fieldset>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label class="control-label" for="choose-delivery"><?= $this->translate('Delivery ' . $this->source . ' question') ?></label>
            <div class="form-group">
                <label class="radio-inline"><input <?= (($this->source == 'origin' && $this->order && $this->order->getRetrievePeople() && $this->order->getRetrievePeople()->getId() == $this->quoteCompanyOriginPeople->getId()) || ($this->source == 'destination' && $this->order && $this->order->getDeliveryPeople() && $this->order->getDeliveryPeople()->getId() != $this->quoteCompanyDestinationPeople->getId() )) ? 'checked' : '' ?> data-container-show-on-change=".choose-company-address-<?= $this->source ?>" data-container-hide-on-change=".choose-client-address-<?= $this->source ?>" type="radio" name="choose-<?= $this->source ?>" value="company"><?= $this->translate('My company') ?></label>
                <label class="radio-inline"><input <?= (($this->source == 'origin' && $this->order && $this->order->getRetrievePeople() && $this->order->getRetrievePeople()->getId() != $this->quoteCompanyOriginPeople->getId()) || ($this->source == 'destination' && $this->order && $this->order->getDeliveryPeople() && $this->order->getDeliveryPeople()->getId() == $this->quoteCompanyDestinationPeople->getId() )) ? 'checked' : '' ?> data-container-hide-on-change=".choose-company-address-<?= $this->source ?>" data-container-show-on-change=".choose-client-address-<?= $this->source ?>" type="radio" name="choose-<?= $this->source ?>" value="client"><?= $this->translate('Client company') ?></label>                                        
            </div>
        </div>            
    </div>
    <div class="choose-client-address-<?= $this->source ?>" <?= ($this->source == 'origin' && !$this->order->getRetrievePeople()) || ($this->source == 'destination' && !$this->order->getDeliveryPeople()) ? 'style="display: none;"' : '' ?>>
        <?= $this->render("sales/default/client-address.phtml"); ?>        
    </div>
    <div class="choose-company-address-<?= $this->source ?>" <?= ($this->source == 'origin' && !$this->order->getRetrievePeople()) || ($this->source == 'destination' && !$this->order->getDeliveryPeople()) ? 'style="display: none;"' : '' ?>>
        <?= $this->render("sales/default/company-address.phtml"); ?>        
    </div>
</fieldset>