<div class="panel-heading">
    <h3 class="panel-title"><?= $this->translate('Data from the Quote') ?></h3>
</div>
<div class="panel-body">
    <?php if (!$this->userModel || !$this->userModel->loggedIn()) { ?>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">                    
            <label for="name" class="control-label"><?= $this->translate('Name') ?></label>                            
            <input id="name" type="text" class="form-control" name="name" placeholder="<?= $this->translate('Enter your name') ?>" required>                                    
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">                    
            <label for="email" class="control-label"><?= $this->translate('Email') ?></label>                            
            <input id="email" data-mask="({mask: '*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@*{1,20}[.*{2,6}][.*{1,2}]',greedy: false,onBeforePaste: function (pastedValue, opts) {pastedValue = pastedValue.toLowerCase();return pastedValue.replace('mailto:', '');},definitions: {'*': {validator:'[0-9A-Za-z!#$%&\'*+/=?^_`{|}~\-]',cardinality: 1,casing: 'lower'}}})" name="email" type="text" placeholder="<?= $this->translate('Enter your e-mail') ?>" class="form-control input-md" required/>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">                    
            <label for="phone" class="control-label"><?= $this->translate('Phone') ?></label>                            
            <input id="phone" type="text" class="form-control" data-mask="({mask: ['(99) 9999-9999', '(99) 99999-9999'],keepStatic: true})" name="phone" placeholder="<?= $this->translate('Enter your phone') ?>" required>                                    
        </div>
    </div>
    <?php } ?>
    <div class="quote-complement-details">        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">                    
                <label for="product-type" class="control-label"><?= $this->translate('Product package type') ?></label>                            
                <input type="text" class="form-control" name="product-type" placeholder="<?= $this->translate('Product package example') ?>" data-autocomplete-multi-ajax-url="/carrier/search-product-type.json" data-autocomplete-hidden-result="#product-type-id" required>
                <input type="hidden" class="form-control" id="product-type-id" name="product-type-id">                            
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">                    
                <label for="product-total-price" class="control-label"><?= $this->translate('Product total price') ?></label>                            
                <input type="text" class="form-control" data-mask="({prefix: '<?= $this->translate('corrency_symbol') ?> ',clearIncomplete: true,alias: 'currency',rightAlign: false,radixPoint: ',',groupSeparator: '.'})" name="product-total-price" placeholder="<?= $this->translate('Product total price') ?>" required>
            </div>
        </div>    
        <div class="clearfix" id="container-product-size">   
            <div class="box-product-size" id="product-size-box-up">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 product-size">                                
                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                        <label class="control-label"><?= $this->translate('Qtd') ?></label>
                    </div>                    
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                        <label class="control-label"><?= $this->translate('Weight') ?></label>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label"><?= $this->translate('Height') ?></label>
                    </div>                                                        
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">                                                                                               
                        <label class="control-label"><?= $this->translate('Width') ?></label>
                    </div>                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label"><?= $this->translate('Depth') ?></label>
                    </div>                                                    
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 product-size product-size-r">

                </div>          
            </div>  
            <div class="box-product-size box-size">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 product-size product-size-l">
                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">                                                    
                            <input type="number" data-mask="({mask:999})" class="form-control" name="product-package[0][qtd]" placeholder="<?= $this->translate('Qtd') ?>" value="1" required>
                            <label for="product-package[0][qtd]" class="control-label label-mini"><?= $this->translate('Measured by unit') ?></label>
                        </div>
                    </div>                    
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">                                                    
                            <input type="text" data-mask="({prefix: '',suffix: ' kg',integerDigits: 4,digits: 3,clearIncomplete: true,alias: 'currency',rightAlign: false,radixPoint: ',',groupSeparator: '.'})" class="form-control" name="product-package[0][weight]" placeholder="<?= $this->translate('Package weight') ?>" required>
                            <label for="product-package[0][weight]" class="control-label label-mini"><?= $this->translate('Weight in kilograms') ?></label>
                        </div>                    
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">                                                    
                            <input type="text" data-mask="({prefix: '',suffix: ' m',integerDigits: 2,clearIncomplete: true,alias: 'currency',rightAlign: false,radixPoint: ',',groupSeparator: '.'})" class="form-control" name="product-package[0][height]" placeholder="<?= $this->translate('Package height') ?>" required>
                            <label for="product-package[0][height]" class="control-label label-mini"><?= $this->translate('Measured in meters') ?></label>
                        </div>
                    </div>                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">                            
                        <div class="form-group">                                                    
                            <input type="text" data-mask="({prefix: '',suffix: ' m',integerDigits: 2,clearIncomplete: true,alias: 'currency',rightAlign: false,radixPoint: ',',groupSeparator: '.'})" class="form-control" name="product-package[0][width]" placeholder="<?= $this->translate('Package width') ?>" required>
                            <label for="product-package[0][width]" class="control-label label-mini"><?= $this->translate('Measured in meters') ?></label>
                        </div>
                    </div>                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">                                                    
                            <input type="text" data-mask="({prefix: '',suffix: ' m',integerDigits: 2,clearIncomplete: true,alias: 'currency',rightAlign: false,radixPoint: ',',groupSeparator: '.'})" class="form-control" name="product-package[0][depth]" placeholder="<?= $this->translate('Package depth') ?>" required>
                            <label for="product-package[0][depth]" class="control-label label-mini"><?= $this->translate('Measured in meters') ?></label>
                        </div>
                    </div>                                                    
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 product-size product-size-r">
                    <i class="fa fa-plus-circle green fa-2x click" aria-hidden="true" data-clone-type="simple-clone" data-clone-field="#clone-box-product-size" data-clone-target="#container-product-size" ></i>
                </div>          
            </div>

        </div>
    </div>
    <div class="row quote-complement-details">
        <button class="btn btn-primary nextBtn pull-right" type="button"><?= $this->translate('Next') ?></button>        
    </div>
</div>
