<span></span>
<div class="row">
    <div class="col-xs-12 quote-box">
        <div class="card">
            <div class="card-header">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="text-uppercase quote-main-tittle"><?= $this->translate('Freight quotation') ?></h3>
                    <h6 class="label-mini"><?= $this->translate('Fill in the fields below for your quotation') ?></h6>
                </div>
            </div>

            <div class="card-header">
                <div class="stepwizard">
                    <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step col-xs-4"> 
                            <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>                            
                            <p><small><?= $this->translate('Data from the Quote') ?></small></p>
                        </div>
                        <div class="stepwizard-step col-xs-4">
                            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                            <p><small><?= $this->translate('Origin') ?></small></p>                            
                        </div>
                        <div class="stepwizard-step col-xs-4">
                            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                            <p><small><?= $this->translate('Destination') ?></small></p>
                        </div>                        
                    </div>
                </div>
                <form id="quote-form" class="" role="form" method="POST" autocomplete="off">
                    <div class="panel panel-primary setup-content" id="step-1">
                        <?= $this->render("sales/default/quote-step-1.phtml"); ?>
                    </div>
                    <div class="panel panel-primary setup-content" id="step-2" style="display: none;" data-postmon-form="data-postmon-form">
                        <?= $this->render("sales/default/quote-step-2.phtml"); ?>               
                    </div>
                    <div class="panel panel-primary setup-content" id="step-3" style="display: none;" data-postmon-form="data-postmon-form">
                        <?= $this->render("sales/default/quote-step-3.phtml"); ?>               
                    </div>                    
                </form>
                <div id="clone-box-product-size" data-remove="clone-box-product-size-{key}" class="box-product-size clone hidden">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 product-size product-size-{key}">
                        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                            <div class="form-group">                                                    
                                <input type="number" data-mask="({mask:999})" class="form-control" name="product-package[{key}][qtd]" placeholder="<?= $this->translate('Qtd') ?>" value="1" required>
                                <label for="product-package[{key}][qtd]" class="control-label label-mini"><?= $this->translate('Measured by unit') ?></label>
                            </div>
                        </div>                    
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">                                                    
                                <input type="text" data-mask="({prefix: '',suffix: ' kg',integerDigits: 4,digits: 3,clearIncomplete: true,alias: 'currency',rightAlign: false,radixPoint: ',',groupSeparator: '.'})" class="form-control" name="product-package[{key}][weight]" placeholder="<?= $this->translate('Package weight') ?>" required>
                                <label for="product-package[{key}][weight]" class="control-label label-mini"><?= $this->translate('Weight in kilograms') ?></label>
                            </div>                    
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">                                                    
                                <input type="text" data-mask="({prefix: '',suffix: ' m',integerDigits: 2,clearIncomplete: true,alias: 'currency',rightAlign: false,radixPoint: ',',groupSeparator: '.'})" class="form-control" name="product-package[{key}][height]" placeholder="<?= $this->translate('Package height') ?>" required> 
                                <label for="product-package[{key}][height]" class="control-label label-mini"><?= $this->translate('Measured in meters') ?></label>
                            </div>
                        </div>                    
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">                            
                            <div class="form-group">                                                    
                                <input type="text" data-mask="({prefix: '',suffix: ' m',integerDigits: 2,clearIncomplete: true,alias: 'currency',rightAlign: false,radixPoint: ',',groupSeparator: '.'})" class="form-control" name="product-package[{key}][width]" placeholder="<?= $this->translate('Package width') ?>" required>
                                <label for="product-package[{key}][width]" class="control-label label-mini"><?= $this->translate('Measured in meters') ?></label>
                            </div>
                        </div>                    
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">                                                    
                                <input type="text" data-mask="({prefix: '',suffix: ' m',integerDigits: 2,clearIncomplete: true,alias: 'currency',rightAlign: false,radixPoint: ',',groupSeparator: '.'})" class="form-control" name="product-package[{key}][depth]" placeholder="<?= $this->translate('Package depth') ?>" required>
                                <label for="product-package[{key}][depth]" class="control-label label-mini"><?= $this->translate('Measured in meters') ?></label>
                            </div>
                        </div>                                            
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 product-size product-size-r">                            
                        <i class="fa fa-trash-o red fa-2x click" aria-hidden="true" data-remove-type="simple-remove" data-remove-target="[data-remove=clone-box-product-size-{key}]"></i>                            
                    </div>          
                </div>                
            </div>                        
        </div>
    </div>
    <div id="quote-container">        
        <?php if ($this->data && $this->data['quote']) { ?>            
            <div id="quote-header-container">                                
                <h4 id="quote-title"><?= $this->translate('Quote') ?> #<?= $this->data['quote'][0]['order-id'] ?> - <?= $this->translate('Quote tittle') ?></h4>
            </div>
            <?php foreach ($this->data['quote'] AS $key => $quote) { ?>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 quote-box <?= $quote['carrier-active'] ?>">
                    <div class="card card-shadow">
                        <div class="retrieve-deadline-border"></div>
                        <div class="retrieve-deadline"><?= $this->translate('Retrieve up to') ?> 1 <?= $this->translate('useful day') ?></div>
                        <div class="card-header quote-header">                        
                            <?php if ($quote['logo']) { ?> 
                                <img alt="<?= $quote['carrier-alias'] ?>" title="<?= $quote['carrier-alias'] ?>" src="<?= $quote['logo'] ?>"/>
                            <?php } else { ?>
                                <h3 class="quote-tittle"><?= $quote['carrier-alias'] ?></h3>
                            <?php } ?>
                            <h5 class="quote-subtittle"><small class="text-muted"><?= $quote['carrier-name'] ?></small></h5>                                                    
                            <h5 class="deadline"><?= $quote['deadline'] ? ($this->translate('Delivery deadline') . ' <b>' . $quote['deadline'] . '</b> ' . ($quote['deadline'] > 1 ? $this->translate('days') : $this->translate('day'))) : '' ?></h5>                            
                            <?php if ($this->defaultCompany && $this->userModel->getUserCompany() && $this->userModel->getUserCompany()->getId() === $this->defaultCompany->getId()) { ?>               
                                <i class="fa fa-info-circle btn-quote-details" data-toggle="collapse" data-target="#details-<?= $key ?>" aria-hidden="true"></i>
                            <?php } ?>                                           
                        </div>
                        <div class="card-body no-padding">
                            <div id="details-<?= $key ?>" class="quote-details collapse clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <?php if ($quote['retrieve-tax']) { ?>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tax-details"><?= $this->translate('Retrieve tax') ?></div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 quote-money tax-details"><?= $this->translate('corrency_symbol') . ' ' . ' ' . number_format($quote['retrieve-tax'], 2, ',', '.') ?></div>                            
                                <?php } ?>
                                <?php foreach ($quote['tax'] AS $tax) { ?>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tax-details"><?= $tax['tax-name'] ?></div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 quote-money tax-details"><?= $this->translate('corrency_symbol') . ' ' . ' ' . number_format($tax['subtotal'], 2, ',', '.') ?></div>                                
                                <?php } ?>                                
                            </div>
                            <div class="clearfix clear-margin"></div>
                            <div class="clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 quote-money no-padding">                                    
                                    <div class="pull-right quote-money-value">
                                        <?= $this->translate('corrency_symbol') . ' ' . ' ' . number_format($quote['total'], 2, ',', '.') ?>    
                                    </div>
                                    <div class="pull-right quote-money-label">
                                        <?= $this->translate('Quote total') ?>
                                    </div>
                                </div>                        
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 quote-money no-padding">                                                                        
                                    <div class="pull-right quote-card-price">
                                        <?= $this->translate('corrency_symbol') . ' ' . ' ' . number_format((number_format($quote['total'], 2, '.', '') / 6), 2, ',', '.') ?>    
                                    </div>
                                    <div class="pull-right quote-card-label">
                                        <?= $this->translate('or until') ?> 6x <?= $this->translate('of') ?>
                                    </div>
                                </div>                            
                            </div>                            
                            <div class="clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <h6 class="no-padding no-margin"><?= $this->translate('Rating') ?></h6>
                                    <?php for ($i = 1; $i <= 5; $i++) { ?>
                                        <span class="fa fa-star <?= $i <= 4 ? 'checked' : '' ?>"></span>                                    
                                    <?php } ?>
                                </div>    
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <button id="btn-quote-<?= $quote['quote-id'] ?>" type="button" data-quote="<?= $quote['quote-id'] ?>" class="btn <?= $quote['delivery-restricted'] ? 'btn-warning' : 'btn-success' ?>  pull-right acquire text-uppercase" data-add-form="/sales/choose-quote.form?quote=<?= $quote['quote-id'] ?>">
                                        <?= $this->translate('Acquire') ?>
                                    </button>                        
                                </div>
                            </div>
                            <div class="clearfix"></div>                    
                        </div>
                    </div>
                </div>
                <?php
            }
        } else {
            if ($this->error) {
                foreach ($this->error AS $error) {
                    echo '<div class="alert alert-danger fade in alert-dismissable col-lg-12 col-md-12 col-sm-12 col-xs-12">' . $error['message'] . '</div>';
                }
            }
        }
        ?>            
        <div class="clearfix"></div>
    </div>
</div>
